Package: ml.andrewhyatt.typetab
Name: typetab
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Andrew Hyatt <ahyattdev@icloud.com>
Author: Andrew Hyatt <ahyattdev@icloud.com>
Section: Tweaks
