Package: ml.andrewhyatt.typetab
Name: TypeTab
Depends: mobilesubstrate
Version: 1.4-beta1
Architecture: iphoneos-arm
Description: Faster address entry for Safari tabs
Maintainer: Andrew Hyatt <ahyattdev@icloud.com>
Author: Andrew Hyatt <ahyattdev@icloud.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: andrewhyatt
