Package: ml.andrewhyatt.typetab
Name: TypeTab
Depends: mobilesubstrate (>= 0.9.6101), firmware (>= 8.0)
Version: 2.0.2
Architecture: iphoneos-arm
Description: Faster address entry for Safari tabs
Maintainer: Andrew Hyatt <ahyattdev@icloud.com>
Author: Andrew Hyatt <ahyattdev@icloud.com>
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: andrewhyatt
